d>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="CREATOR" content="Free templates provided by Doyle courtesy of http://free-templates.org">
<meta name="KEYWORDS" content="replace, these, words, that, describe, your, site, and, page, contents, separated, by, commas">
<meta name="DESCRIPTION" content="Here is where you put a short sentence or two describing this page and it's goals">
<title>Free website web page template #16 from www.free-templates.org</title>
</head>
<body background="clef2.jpg" bgproperties="fixed">

<div align="center">
<center>
<table border="0" cellpadding="2" cellspacing="0" width="714" height="94">
<tr>
<td width="706" valign="middle" align="center" height="88"><font face="Impact" size="7" color="#000000">Sobreviure</font></td>
</tr>
</table>
</center>
</div>

<div align="center">
<center>
<table border="0" cellpadding="4" cellspacing="0" width="750" height="1042" bordercolorlight="#000000" bordercolordark="#000000">
<tr>
<td width="139" height="302" valign="top">
<div align="center">
<table border="1" cellpadding="2" cellspacing="1" width="137" height="24" bordercolordark="#000000" bordercolorlight="#000000">
<tr>
<td width="128" height="29" bgcolor="#7D89B1">
<p align="center"><b><font size="2" face="Arial" color="#FFFFFF">Navigate</font></b></p>
</td>
</tr>
<tr>
<td width="128" height="29"><b>Home</b></td>
</tr>
<tr>
<td width="128" height="29"><b>About</b></td>
</tr>
<tr>
<td width="128" height="29"><b>Play</b></td>
</tr>
<tr>
<td width="128" height="29"><b>Contact</b></td>
</tr>
<tr>
<td width="128" height="30"><b>Questions?</b></td>
</tr>
<tr>
<td width="128" height="30"><b>Suggestions</b></td>
</tr>
<tr>
<td width="128" height="30"><b>Want code?</b></td>
</tr>
<tr>
<td width="128" height="30"><b>Federico Reyes</b></td>
</tr>
</table>
</div>
</td>
<td width="557" height="1042" valign="top" rowspan="4">
<p align="center"><b><font face="Arial" color="#000000" size="6">Wake up...</font></b></p>
</center>
<p align="left"><font size="5" face="Arial"><b>   </b></font><font size="3"><b>This is where the text will print to</b></p>
<hr width="80%">
<p align="left"><b>Time = 2     &nbsp &nbsp &nbsp &nbsp   Energy =  120 &nbsp &nbsp &nbsp &nbsp   Health = 100</b></p>
<center>
<p>

<form method = "POST">
    {{ form.name.label }} {{ form.name() }}
    {{ form.submit() }}
</form>

<p> 
<div align="center">
<table border="0" cellpadding="2" cellspacing="1" width="407" height="350">
<tr>
<td width="200" height="177">
<p align="center">Federico Reyes</td>
<td width="205" height="177">
<p align="center">Sobreviure</td>
</tr>
<tr>
<td width="200" height="173">
<p align="center">image description?</td>
<td width="205" height="173">
<p align="center">image?</td>
</tr>
</table>
------------>

</td>
<td width="100" height="1056" valign="top" rowspan="4">
<div align="center">
  <center>
  <table border="1" cellpadding="2" cellspacing="1" width="127" height="605" bordercolorlight="#000000" bordercolordark="#000000">
    <tr>
      <td width="117" height="599" valign="top" align="center">
      This box is designed for a google adsense ad 120x600 skyscraper. 
      Change the background color code of the ad to EEEFEE and change the border
      color code of the ad to EEEFEE. 
      </td>
    </tr>
  </table>
  </center>
</div><BR>
</table>
</div>
<!-- PLEASE DO NOT REMOVE OR ALTER THE FOLLOWING SECTION GIVING FREE TEMPLATE CREDIT TO HTTP://FREE-TEMPLATES.ORG -->
<div align="center">
<center>
<table border="1" cellpadding="2" cellspacing="1" width="742" height="10" bordercolorlight="#000000" bordercolordark="#000000">
<tr>
<td>
<p align="center"><b> <font size="2" face="Arial">This web page template
provided free from <a href="http://free-templates.org" target="_blank">http://free-templates.org</a></font></b></td>
</tr>
</table>
</center>
</div>
<!-- PLEASE DO NOT REMOVE OR ALTER THE ABOVE SECTION GIVING FREE TEMPLATE CREDIT TO HTTP://FREE-TEMPLATES.ORG -->

</body>

</html>
